@model List<WishList.Models.Item>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Wishlist</h1>
    <a asp-action="create">Add item</a>
    <ul>
        
        @foreach (var Item in Model)
        {
            <li>@Item.Description <a asp-action="delete" asp-all-id="Id"></a></li>
        }
    </ul>
</body>
</html>
